.auth {
  min-height: max-content;
  height: 100vh;
  background: url(/src/images/bg.png) no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.auth__logo {
  position: absolute;
  top: 24px;
  left: 40px;
  width: 178px;
}

.auth__form {
  height: max-content;
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 8px 32px 0px rgba(12, 16, 24, 0.12);
  width: 100%;
  max-width: 436px;
  margin: 0 32px 0 352px;
}

.auth__block {
  width: 100%;
}

.auth__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.12;
  text-align: center;
  margin: 0 0 32px;
}

.auth__field {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  position: relative;
}

.auth__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #80858e;
  position: absolute;
  top: 10px;
  left: 16px;
}

.auth__label_active {
  font-size: 13px;
  line-height: 1.23;
  top: 2px;
}

.auth__label:focus {
  color: #525760;
}

.auth__input {
  width: 100%;
  outline: none;
  background-color: rgba(212, 213, 217, 0.32);
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #525760;
  border: none;
}

.auth__input::placeholder {
  color: #80858e !important;
}

.auth__input::-webkit-input-placeholder {
  color: #80858e !important;
}

.auth__input::-moz-placeholder {
  color: #80858e !important;
}

.auth__input:-moz-placeholder {
  color: #80858e !important;
}

.auth__input:-ms-input-placeholder {
  color: #80858e !important;
}

.auth__input_active {
  padding: 18px 16px 2px;
}

.auth__input_error {
  background-color: rgba(251, 152, 152, 0.16);
}

.auth__input:focus {
  color: #1d222a;
}

.auth__input-error {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #e35454;
  display: block;
  position: absolute;
  bottom: -16px;
  left: 16px;
}

.auth__btn {
  background-color: #4480f3;
  border-radius: 8px;
  border: none;
  padding: 10px;
  text-align: center;
  margin: 0 0 28px;
  width: 100%;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  opacity: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

.auth__btn:not(.auth__btn_disabled):hover {
  background-color: #578df4;
}

.auth__btn_disabled {
  opacity: 0.32;
  cursor: default;
}

.auth__error {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #e35454;
  margin-bottom: 12px;
  display: block;
}

.auth__text {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #525760;
}

.auth__link {
  color: #4480f3;
  text-decoration: none;
  transition: 0.1s ease-in-out;
}

.auth__link:hover {
  color: #578df4;
}

.auth__eye {
  background-color: transparent;
  border: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 16px;
  cursor: pointer;
  padding: 0;
}

.auth__eye-icon {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .auth__form {
    margin-left: 40px;
  }
}
