.error {
  display: flex;
  height: calc(100vh - 82px);
  background: url(/src/images/404.png) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: flex-end;
}

.error__block {
  margin: 0 220px 0 32px;
  padding: 0 0 82px;
  width: 100%;
  max-width: 426px;
}

.error__title {
  font-weight: 500;
  font-size: 128px;
  line-height: 154px;
  margin: 0 0 28px;
}

.error__subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  margin: 0 0 16px;
}

.error__text {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 28px;
}

@media screen and (max-width: 768px) {
  .error__block {
    margin-right: 32px;
  }
}
