.admin-applications {
  height: 100%;
  max-height: 100%;
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
  box-shadow: 0px 8px 32px 0px rgba(12, 16, 24, 0.12);
}

.admin-applications__content {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  overflow: hidden;
  height: calc(100vh - 82px);
  max-height: calc(100vh - 82px);
}

.admin-applications__header {
  padding: 32px 32px 16px;
}

.admin-applications__header-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.admin-applications__header-item {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #525760;
  padding-bottom: 12px;
  position: relative;
  margin-right: 20px;
}

.admin-applications__header-item_active {
  color: #1d222a;
}

.admin-applications__header-item_active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4480f3;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
}

.admin-applications__body {
  padding: 8px 0 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.admin-applications__body_name_routes {
  grid-template-rows: 1fr;
}

.admin-applications__nav {
  padding: 0 32px;
}

.admin-applications__nav-list {
  list-style: none;
  margin: 0 0 24px;
  display: flex;
  align-items: center;
  background-color: rgba(212, 213, 217, 0.32);
  border-radius: 20px;
  width: max-content;
  padding: 0;
}

.admin-applications__nav-item {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  padding: 10px 16px;
}

.admin-applications__nav-item_active {
  background-color: #4480f3;
}

.admin-applications__nav-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #525760;
}

.admin-applications__nav-number {
  font-size: 10px;
  line-height: 1.2;
  color: #4480f3;
  margin-left: 4px;
}

.admin-applications__nav-item_active .admin-applications__nav-text,
.admin-applications__nav-item_active .admin-applications__nav-number {
  color: #fff;
}

.admin-applications__block {
  overflow: hidden;
}

.admin-applications__list {
  list-style: none;
  margin: 0;
  padding: 4px 32px 16px;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
}

.admin-applications__footer {
  padding: 16px;
  border-top: 1px solid #d4d5d9;
}

.admin-applications__btn {
  text-align: center;
  width: 100%;
}

.admin-applications__error {
  font-size: 16px;
  line-height: 1.25;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
