.application {
  margin-bottom: 12px;
  padding: 16px;
  background-color: #eaecf0;
  border-radius: 12px;
}

.application:last-child {
  margin-bottom: 0;
}

.application-agreed {
  cursor: pointer;
}

.application_active {
  border: 2px solid #4480f3;
}

.application__icebreaker {
  background-color: #4480f3;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 13px;
  line-height: 1.23;
  color: #ffffff;
  margin-bottom: 8px;
}

.application__icebreaker-icon {
  width: 16px;
  margin-right: 4px;
}

.application__header-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.application__header-left {
  padding-right: 10px;
}

.application__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 0 4px;
}

.application__points {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: #80858e;
}

.application__btns {
  display: flex;
  align-items: center;
}

.application__btn {
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

/* Icebreaker */

.application-icebreaker {
  padding: 0;
}
