.ymaps-2-1-79-balloon {
  /* top: -92px !important; */
  box-shadow: none !important;
}

.ymaps-2-1-79-balloon__layout {
  border-radius: 5px !important;
}

.ymaps-2-1-79-balloon__close-button {
  background-size: 11px !important;
  height: 35px !important;
}

.ymaps-2-1-79-balloon__content {
  font-family: "Inter", Arial, Helvetica, sans-serif !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 16px !important;
  color: #000000 !important;
}

.baloon {
  padding: 50px;
  background-color: red;
}

.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright {
  display: none !important;
}
